<html>
  <head>
    <title>Wonderwall</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/whatitdo.css') }}">
  </head>
  <body>
    <div id="menu">
      <img src="http://ih1.redbubble.net/image.66033997.1002/sticker,375x360.png" height="50" width="50">
        <p>Hello {{user['fname']}}</p>
        <form action='/logout' method='GET'>
          <input type="submit" value="Logout">
        </form>
    </div>
    <div id="post">
      <form action='/post' method='POST'>
        What's on your mind? <br><textarea name="message"></textarea><br>
        <input type="submit" value="Post">
      </form>
      <div id="oldposts">
        {% for message in messages %}
          <hr>
          <p>Post by: {{message['name']}}</p>
          <br><p>{{message['message']}}</p><br>{{message['message_date']}}<br>
        {% if session['user_id']==message['user_id'] %}
          <a href="/post/{{message['message_id']}}/delete">Delete</a><br>
        {% endif %}
        {% for comment in comments %}
          {% if comment['message_id']==message['message_id'] %}
            <div id="comment">
              <p>Comment by: {{comment['name']}}</p><br>
              <p>{{comment['comment']}}</p><br>{{comment['comment_date']}}<br>
              {% if comment['user_id']==session['user_id'] %}
                <a href="/comment/{{comment['comment_id']}}/delete">Delete</a><br>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}

          <form action="/comment/{{message['message_id']}}" method='POST'>
            Comments: <br><textarea name="comment"></textarea><br>
            <input type="submit" value="comment"><br>
          </form>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
