<html>
    <head>
       <title>Dojo Survey</title>
    </head>
    <body>
      <form class="" action="/create" method="post">
          Name: <input type='text' name='name'><br>
          Location: <select list='location' name='location'><br>
                                <datalist id='location'>
                                  <option value'SanJose'>San Jose</option>
                                  <option value'Seattle'>Seattle</option>
                                  <option value'LosAngeles'>Los Angeles</option>
                                  <option value'Chicago'>Chicago</option>
                                  <option value'WashingtonDC'>Washington DC</option>
                                  <option value'Dallas'>Dallas</option>
                                </datalist></select>
          Favorite Language: <select list='language' name='language'><br>
                                <datalist id='language'>
                                  <option value'Python'>Python</option>
                                  <option value'Ruby'>Ruby</option>
                                  <option value'Javascript'>Javascript</option>
                                  <option value'Swift'>Swift</option>
                                  <option value'C++'>C++</option>
                                  <option value'DOS'>DOS</option>
                                  <option value'Shell'>Shell</option>
                                  <option value'ObjectiveC'>Objective C</option>
                                  <option value'C'>C</option>
                                  <option value'Java'>Java</option>
                                  <option value'PHP'>PHP</option>
                                </datalist></select>
          Comment (optional): <textarea name='comments' rows="10" cols="30">
                              </textarea>
          <input type='submit' value='submit'>
      </form>
    </body>
</html>
